@using BucHunt.Models
@model BucHunt.Models.ParticipantModel
<style>
    body {
        background-color: #041E42;
    }

    h1 {
        font-weight: 600;
        color: #ffc72c
    }

    h3 {
        font-weight: 300;
        color: #ffc72c
    }

    label {
        color: white
    }
</style>
<center>
    <h1>
        WELCOME TO BUCHUNT
    </h1>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<<<<<<< Updated upstream
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <img src="~/Images/logo.png" width="250" height="200" />
        </div>
        <div class="col">
            <center>
                <h3>User Sign Up</h3>
            </center>
        </div>
        <div class="row">
            <div class="col">
                <hr>
=======
    <center>
        <div class="col-8 card">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <img src="~/Images/logo.png" width="250" height="200" />
>>>>>>> Stashed changes
            </div>
            <div class="col">
<<<<<<< Updated upstream
                <label>Email Address</label>
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Phone Number</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.provider,
                    new SelectList(Enum.GetValues(typeof(Providers))),
                    "Select Provider")
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Password</label>
                <div class="form-group">
                    <input class="form-control" ID="Password" placeholder="Password" name="Password" type="Password">
                </div>
                <label>Enter Password Again</label>
                <div class="form-group">
                    <input class="form-control" ID="Password" placeholder="Password" name="Password" type="Password">
                </div>
=======
>>>>>>> Stashed changes
                <center>
                    <h3>User Sign Up</h3>
                </center>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col">
                    <label>Email Address</label>
                    <div class="form-group">
<<<<<<< Updated upstream
                        <input class="btn btn-info btn-block btn-lg" onclick="location.href='@Url.Action("Index", "Home")'" id="Button2" type="Submit" value="Submit" />
=======

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
>>>>>>> Stashed changes
                    </div>
                    <label>Phone Number</label>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.provider,
                            new SelectList(Enum.GetValues(typeof(Providers))),
                            "Select Provider", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.provider, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <label>Password</label>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <label>Re-Enter Password</label>
                    <div class="form-group">
                        @Html.EditorFor(model => model.RetypePassWd, new { htmlAttributes = new { @class = "form-control", @placeholder = "Re-Enter Password" } })
                        @Html.ValidationMessageFor(model => model.RetypePassWd, "", new { @class = "text-danger" })
                    </div>
                    <center>
                        <div class="form-group">
                            <input class="btn btn-info btn-block btn-lg" id="Button2" type="submit" value="Submit" />
                        </div>
                    </center>
                </div>
            </div>
        </div>
<<<<<<< Updated upstream
    </div>
    <div class="col-12 row">
        <p>&nbsp;</p>
    </div>
</center>
=======
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </center>
>>>>>>> Stashed changes
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

