@using BucHunt.Models;
@model BucHunt.Models.LocationModel

@{
    ViewBag.Title = "Locations";
}

<h4>All locations in the hunt</h4>
<style>
    .inline {
        display: inline-block;
    }
</style>
@using (Html.BeginForm())
{
    <form>
        <div class="form-group">
            <label for="hardcodelocation">Culp Center</label>
            <div>
                @Html.EditorFor(model => model.DecodedQR, new { htmlAttributes = new { @class = "form-control inline", @placeholder = "Decoded QR Code" } })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
        </div>
        <div class="form-group">
            <label for="hardcodelocation">Gilbreath Hall</label>
            <div>
                @Html.EditorFor(model => model.DecodedQR, new { htmlAttributes = new { @class = "form-control inline", @placeholder = "Decoded QR Code" } })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </div>
        <div class="form-group">
            <label for="hardcodelocation">Millennium Center</label>
            <div>
                @Html.EditorFor(model => model.DecodedQR, new { htmlAttributes = new { @class = "form-control inline", @placeholder = "Decoded QR Code" } })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </div>
        <div class="form-group">
            <label for="hardcodelocation">Roy Nicks Hall</label>
            <div>
                @Html.EditorFor(model => model.DecodedQR, new { htmlAttributes = new { @class = "form-control inline", @placeholder = "Decoded QR Code" } })
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
            
        </div>
    </form>
}

